In [ ]:
#1. print the first 10 natural numbers using for loop
for i in range(1,11):

  print(i)

1
2
3
4
5
6
7
8
9
10

In [ ]:
#2. python program to print all the even numbers with in the given range

for i in range(1,21):
  if i%2==0:
    print(i)

2
4
6
8
10
12
14
16
18
20

In [ ]:
#3. python program to calculate the sum of all numbers from 1 to given number

x = range(1,21)
sum = 0
for i in x:
  sum = sum + i
print(sum)

range(1, 21)
210

In [ ]:
#4. python programe to calculate the sum of all the odd numbers within the given range

x = range(1,20)
sum = 0
for i in x:
  if i%2 != 0:
    sum = sum + i
print(sum)

100

In [ ]:
#5. python program to print a multiplication program of a given number
num = int(input('enter a number: '))
def table(x):
  for i in range(1,11):
    r = num * i
    print(num,'x',i,'=',r)

table(num)

enter a number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [ ]:
#6. python program to display numbners from a list using a for loop

l1 = [1,2,3,4,5,6]

for i in l1:
  print(i)

1
2
3
4
5
6

In [ ]:
#7. python program to count the total number of digits in a number
num = int(input('enter numbers: '))

l = len(str(num))
print(l)

enter numbers: 145623
6

In [ ]:
num = int(input('enter numbers: '))
def count(x):
  print(len(str(x)))

count(num)

enter numbers: 123654789
9

In [ ]:
#8. write a  Python program to check if the given string is palindrome?
def guna(string):
  string = string.replace(" ","").lower()
  return string == string[::-1]
num = input('enter a string: ')
if guna(num):
  print('it is a palindrome')
else:
  print('it is not a palindrome')

enter a string: madam
it is a palindrome

In [ ]:
#9. Python program to count the number of even and odd numbers from a series of numbers
def main(numbers):
  evn_num=0
  odd_num=0
  for i in numbers:
    if i%2==0:
      evn_num += 1
    else:
      odd_num += 1
  return(evn_num , odd_num)
l1 = [1,2,3,4,5,6,7,8,9,10]
even,odd = main(l1)
print('num of even = ',even)
print('num of odd = ',odd)

num of even =  5
num of odd =  5

In [ ]:
#10. Python program to display all numbers within a range except the prime numbers.

for i in range(1,100):
  for j in range(2,i):
    if i%j==0:
      print(i)
      break

4
6
8
9
10
12
14
15
16
18
20
21
22
24
25
26
27
28
30
32
33
34
35
36
38
39
40
42
44
45
46
48
49
50
51
52
54
55
56
57
58
60
62
63
64
65
66
68
69
70
72
74
75
76
77
78
80
81
82
84
85
86
87
88
90
91
92
93
94
95
96
98
99

In [ ]:
#11.Python program to get the Fibonacci series between 0 to 50.

n = 50
sum = 0
i1,i2=0,1
for i in range(0,n):
  sum = i1 + i2
  i1 =i2
  i2 = sum
  print(sum)

1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181
6765
10946
17711
28657
46368
75025
121393
196418
317811
514229
832040
1346269
2178309
3524578
5702887
9227465
14930352
24157817
39088169
63245986
102334155
165580141
267914296
433494437
701408733
1134903170
1836311903
2971215073
4807526976
7778742049
12586269025
20365011074

In [ ]:
#12. Python program to find the factorial of a given number.
a=1
for i in range(10,0,-1):
  a = a *i
print(a)

3628800

**METHODS**

In [ ]:
#1.Write a Python function to find the maximum of three numbers.
a = 10
b = 20
c = 30
def main(x,y,z):
  maximum = max(x,y,z)
  return maximum

main(a,b,c)

30

In [ ]:
#2. Write a Python function to sum all the numbers in a list.

def main(numbers):
  total = sum(numbers)
  return total

list = [1,2,3,4,5]
result = main(list)
print(result)

15

In [ ]:
#2. Write a Python function to sum all the numbers in a list.
def main(a):
  sum = 0
  for i in a:
    sum += i
  print(sum)
x = [1,2,3,4,5,6,7,8,9,10]
main(x)

55

In [ ]:
#3.Write a Python function to multiply all the numbers in a list.
def main(a):
  s = 1
  for i in a:
    s *= i
  return s
x = [1,2,3,4,5]
main(x)

120

In [ ]:
#4. Write a Python program to reverse a string.

def main(a):
  b = ''
  for i in a:
    print(b)
    b = i + b
  print(b)
x = 'hello world'
main(x)

h
eh
leh
lleh
olleh
 olleh
w olleh
ow olleh
row olleh
lrow olleh
dlrow olleh