Comments

In [ ]:
# this is guna student in QT

Basics - Print Functions

In [ ]:
print('hello world')

hello world

In [ ]:
apples = 10
mangoes = 20
print(f'i have {apples} apples and {mangoes} mangoes')

i have 10 apples and 20 mangoes

Arithemtic Operations

In [ ]:
print(10+320)

330

In [ ]:
print(10/3)

3.3333333333333335

In [ ]:
print(10//3)

3

In [ ]:
print(20-13)

7

In [ ]:
print(5*4)

20

Lists in Python

In [ ]:
l1 = [1,3,7,6,78,53,90]
l2 = ['guna','sam','queen','rook']
l3 = [1,3,'guna',6,8,'bishub']

In [ ]:
l3

[1, 3, 'guna', 6, 8, 'bishub']

In [ ]:
#1. Print a string "Dog kills a cat"
print("Dog kills a cat")

Dog kills a cat

In [ ]:
#2. Assign a variable to your name and print "My name is ?"
x = 'guna'
print('my name is', x)

my name is guna

In [ ]:
#3. Caluculate 5+14-6*2

x=5+14-6*2
print(x)

7

In [ ]:
#4. Create a list of numbers 1 to 10
l = list(range(1,11))
print(l)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#5. create a list of 5 names
m = ['ravi','guna','sam','john','pavan']
print(m)

['ravi', 'guna', 'sam', 'john', 'pavan']

In [ ]:
#6. create a list of 4 names and 3 numbers
l3 = [1,3,'guna',6,'horse','rook','bishub']
print(l3)

[1, 3, 'guna', 6, 'horse', 'rook', 'bishub']

In [ ]:
city_name = 'hyderabad'
print(f'im living in {city_name}')

im living in hyderabad


For Loop

In [ ]:
l1 = ['Manikanta','ajay','ravi','kiran']
for i in l1:
  print(i)

Manikanta
ajay
ravi
kiran

In [ ]:
#1. create  a list of 5 names and print those names
l1 = ['arvind','vijay','ajay','ravi','guna']
for i in l1:
  print(i)

arvind
vijay
ajay
ravi
guna

In [ ]:
#2. create a list of 3 numbers and multiply with 3 and add with 1
l1 = [1,23,20]
for i in l1:
  print(i*3+1)

4
70
61

In [ ]:
#3. create a list on 5 odd numbers divide with 2
l1 = [3,5,7,9,11]
for i in l1:
  print(i/2)

1.5
2.5
3.5
4.5
5.5

In [ ]:
s1 = "ajay"
s2 = "kiran"
print(s1+" "+s2)

ajay kiran

In [ ]:
# For loop to combine words into a sentence
l1 = ["dog","kills","a","cat"]
sent = ""
for i in l1:
  sent= sent+" "+i
print(sent)

 dog kills a cat

In [ ]:
l1 = ["India","is","my","country","and","all","indians","are","my","brothers","and","sisters"]
sent = ""
for i in l1:
  sent = sent+" "+i
print(sent)

 India is my country and all indians are my brothers and sisters

In [ ]:
numbers = [1,2,3,4,5,6,7,8]
for x in numbers:
    print(x*x)

1
4
9
16
25
36
49
64

while loop

In [ ]:
x = 0
while x<6:

  print(x)
  x += 1

0
1
2
3
4
5

In [ ]:
x = 0
while x<10:
  x+=1
  if x==5:
    continue
  if x ==7:
    continue
  print(x)

1
2
3
4
6
8
9
10

In [ ]:
l1 = [1,2,3,4,5,6,7,8,9,10]
for i in l1:
  if (i%2 == 0):
    print(i)


  else:
    print ("not a even")

not a even
2
not a even
4
not a even
6
not a even
8
not a even
10

In [ ]:
l1 =["aditya","venu","girija","srikanth"]
for i in l1:
  if (i == 'aditya'):
     print(i)
  else:
     print ("not in l1")

aditya
not in l1
not in l1
not in l1

In [ ]:
l1 =[1,2,3,4,5,"aditya","kiran"]
for i in l1:
  if (i=='aditya'):
    print(i)
  elif (i=="kiran"):
    print(i)
  else:
    print("not a word")

not a word
not a word
not a word
not a word
not a word
aditya
kiran

In [ ]:
l1 = [1,2,3,4,5]
sum = 0
for i in l1:
  sum = sum + i
print(sum)

15

In [ ]:
# Print even numbers from the list
l1 = [2,3,4,5,6]
for i in l1:
  if i%2==0:
    print(i)
  else:
    print('not an even')

2
not an even
4
not an even
6

In [ ]:
#print only strings not numbers

l1 = [1,2,3,'ajay','ravi']
for i in l1:
  if i == 'ajay':
    print(i)
  elif i == 'ravi':
    print(i)
  else:
    print('not a string')

not a string
not a string
not a string
ajay
ravi

In [ ]:
l1 = [1,2,3,'pavan','guna']

for i in l1:
  i = str(i)
  if len(i)>1:
    print(i)
  else:
    print('number')

number
number
number
pavan
guna

In [ ]:
l1 = [[1,2,3],[4,5]]

for i in l1:
  for j in i:
    if (j % 2 == 0):
      print (j)

2
4

In [ ]:
x = 'im intrested to learn python'
n = len(x)
print(n)

if len(x)<20:
  print("matches")
else:
  print("not matches")

28
not matches

In [ ]:
#write a function compare the string if it is india you have to print l1 if it is america l2
def main(a,b,c,d):

  if c == 'India':
    print(a)
  else:
    print(b)
l1 = [1,2,3,4,5]
l2 = [4,5,6,7]

x = 'India'
y = 'America'
main(l1,l2,x,y)

[1, 2, 3, 4, 5]

In [ ]:
'''l1 = [1,2,3,4,5,6]
c = True
if c is true print sum of l1
else print no sum'''

l1 = [1,2,3,4,5,6]
c = False

def main(a,b):

  if c == True:
    SUM = sum(l1)
    print(SUM)
  else:
    print('no sum')
main(l1,c)

no sum

In [ ]:
#create a list of numbers from 1 to 10 and write a method to print sum of odd and even numbers

def main(x):
  e_sum=0
  o_sum=0
  for i in x:
    if i%2 == 0:
      e_sum = e_sum + i
    else:
      o_sum = o_sum + i
  print(e_sum)
  print(o_sum)

l1 = [i for i in range(1,11)]
main(l1)

30
25

In [ ]:
#createa list of numbers divisible by 5 from 10 to 100
#and then function to find the sum of values divisible to 10

l1=[]
for i in range(10,101):
  if i%5==0:
    l1.append(i)
print(l1)
sum = 0
for i in l1:
  if i%10 == 0:
    sum = sum + i
print(sum)

[10, 15, 20, 25, 30, 35, 40, 45, 50, 55, 60, 65, 70, 75, 80, 85, 90, 95, 100]
550

In [ ]:
#create a list of 5 names and write a function to combine those
def main(x):

  l1 = ['guna','pavan','Tom','MKC','Nandu']
  sent=''
  for i in l1:
    sent=sent+" "+i
  print(sent)
main(l1)

 guna pavan Tom MKC Nandu

data types

In [ ]:
x = 10
type(x)

int

In [ ]:
x = 10.5
type(x)

float

In [ ]:
l1 = [1,2,3,4,5]
type(l1)

list

In [ ]:
name = 'guna'
type(name)

str

Indexing

In [ ]:
l1 = [1,2,3,4,5]
l1[0]

1

In [ ]:
l1[3]

4

In [ ]:
l1 = [2,8,10,12,4,5,6]
l1[2:5]

[10, 12, 4]

In [ ]:
l1[2:]

[10, 12, 4, 5, 6]

In [ ]:
l1[1],l1[4]

(8, 4)

In [ ]:
x = 'dog kills a cat'
x[10]

'a'

In [ ]:
'''
Python code to create a list of numbers from 10 to 100
create a string 'Data Science Course' = l2
method to print position 5 if divisible by 5 else print position 6
'''

l1=[i for i in range(10,101)]
l2 = 'Data Science Course'
print(l1)
def main(x,y):
  for i in x:
    if i%5==0:
      print(y[5])
    else:
      print(y[6])
main(l1,l2)

[10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100]
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S
c
c
c
c
S