In [ ]:
print('Hello Worldd')

Hello Worldd

In [ ]:
age=20
age=15


print(age)

15

In [ ]:
patient_name = 'John Smith'
age = 20
new_patient = True
old_parient = False

print(new_patient)

True

In [ ]:
Z = input('what is your name ')
print('Hello '+Z)

what is your name Guna
Hello Guna

In [ ]:
Birth_Year = input('what is your birth year? =  ')
age = 2023 - int(Birth_Year)
print(age)

what is your birth year? =  2002
21

In [ ]:
a = float(input('First_num: '))
b = int(input('second_num: '))
total = a+b
print('Sum: ' +str(total))

First_num: 10.1
second_num: 20
Sum: 30.1

In [ ]:
course = 'learn for python'
print(course.upper())
print(course.lower())
print(course.find('y'))
print(course.find('for'))
print(course.replace('y','z'))
print(course.replace('for','4'))
print('python' in course)
print('for' in course)
print('data' in course)
print('y' in course)

LEARN FOR PYTHON
learn for python
11
6
learn for pzthon
learn 4 python
True
True
False
True

In [ ]:
x = 10
x = x + 3
print(x)

13

In [ ]:
x = 10
x += 3 #augmented assignment operaror
print(x)

13

In [ ]:
x = 10
x -= 3
print(x)

7

In [ ]:
x = 10
x /= 3
print(x)

3.3333333333333335

In [ ]:
x = 10
x //= 3
print(x)

3

In [ ]:
x = 10
x %= 3
print(x)

1

In [ ]:
x = 10 + 3 * 2 #multiplication comes first

print(x)

16

In [ ]:
x = (10 + 3) * 2

print(x)

26

In [ ]:
>  #greaterthan
<  #lessthan
>= #greaterthan or equalto
<= #lessthan or equalto
== #Equaltto
!= #Not Equalto

In [ ]:
x = 3 <= 2
print(x)

False

In [ ]:
# Logical operators

x = 10
print(x < 20 and x > 5) # and operator(both should be true)
print(x < 5 or x > 9)  # or operator(atleast one should be true)
print(x < 5 and x > 20)
print(not x < 8)  #not operator(inverse)
print(not x < 20)

True
True
False
True
False

In [ ]:
temp = 20

if temp > 30:
  print("it's very hot")
elif temp > 20:
  print("it's better")
elif temp >10:
  print("it's a bit cold")
else:
  print("it's cold")

it's a bit cold

In [ ]:
A = int(input('weight: '))
B = input('(K)g or (L)bs: ')
if B.upper() == "K":
  C = A / 0.45
  print('Weight in Lbs: '+str(C))
else:
  C = A * 0.45
  print('Weight in Kgs: '+str(C))

weight: 170
(K)g or (L)bs: k
Weight in Lbs: 377.77777777777777

In [ ]:
i = 1
while i <= 10:
  print(i)
  i = i+1

1
2
3
4
5
6
7
8
9
10

In [ ]:
i = 1
while i <= 10:
  print(i * "*")
  i = i+1

*
**
***
****
*****
******
*******
********
*********
**********

In [ ]:
names = ["john","boby","guna","prek","samm","kert"]
print(names[0])
print(names[0:3])
print(names[-1])
print(names[-1:-4])

john
['john', 'boby', 'guna']
kert
[]

In [ ]:
names = ["john","boby","guna","prek","samm","kert"]
names[0] = "pinky"
print(names)

['pinky', 'boby', 'guna', 'prek', 'samm', 'kert']

In [ ]:
numbers = [1,2,3,4,5,6]
numbers.append(7)
print(numbers)

[1, 2, 3, 4, 5, 6, 7]

In [ ]:
numbers = [1,2,3,4,5,6]
numbers.insert(2,-8)
print(numbers)

[1, 2, -8, 3, 4, 5, 6]

In [ ]:
numbers = [1,2,3,4,5,6]
numbers.remove(4)
print(numbers)

[1, 2, 3, 5, 6]

In [ ]:
numbers = [1,2,3,4,5,6]
numbers.clear()
print(numbers)

[]

In [ ]:
numbers = [1,2,3,4,5,6]
print(1 in numbers)
print(10 in numbers)
print(len(numbers))

True
False
6

In [ ]:
numbers = [1,2,3,4,5,6]
for Z in numbers:
  print(Z)

1
2
3
4
5
6

In [ ]:
numbers = [1,2,3,4,5,6]

i = 0
while i <= len(numbers):
  print(numbers[i])
  i = i+1

1
2
3
4
5
6

IndexError: ignored

In [ ]:
numbers = range(5)
print(numbers)

range(0, 5)

In [ ]:
numbers = range(5)
for N in numbers:
  print(N)

0
1
2
3
4

In [ ]:
numbers = range(5,10)
for Z in numbers:
  print(Z)

5
6
7
8
9

In [ ]:
numbers = range(5,10,2)
for z in numbers:
  print(z)

5
7
9

In [ ]:
for Z in range(5):
  print(Z)

0
1
2
3
4

In [ ]:
numbers = (1,2,3,4,5,5,5,5)  #tuple
numbers.count(5)

4

In [ ]:
numbers = (1,2,3,4,5,5,5)
numbers.count(3)

1

In [ ]:
numbers = (1,2,3,4,5,5,5)
numbers.index(3)

2

In [ ]:
a=10
b=20
print(f'i bought{a}apples and{b}bananas')

i bought10apples and20bananas